<section class="ui center aligned middle aligned segment">
    <h2>Photo Gallery Dashboard</h2>
    <p>
        Photo galleries will be displayed here
    </p>
</section>

<div id="galleries">

    {{#unless galleries}}
    <h1 class="ui center aligned header" id="no_galleries">Create galleries!</h1>
    {{/unless}}

    {{#each galleries}}
    <section class="ui center aligned middle aligned segment" id="gallery">

        <h1 class="ui header">
            {{title}}
        </h1>

        {{#if (isImage photos.[0].image)}}
            <img src="{{photos.[0].image}}" alt="{{photos.[0].title}}" style="width: 300px; height: auto;">
            {{!-- Display the first photo in the gallery as a thumbnail --}}
        {{else}}
        <p>No valid image available</p>
        {{/if}}
        
        <h3>
            <p>Photographer: {{photographer}}</p>
        </h3>

        <p>
            <i class="camera icon"></i>
            {{#if photos}}
            Total Photos:
            {{photos.length}}

            {{else}}
            Empty gallery!
            {{/if}}

            {{#if date}}
            <br>
            <i class="calendar alternate outline icon"></i>
            Created on <i>{{date}}</i>
            {{/if}}
        </p>

        {{#if rating}}
        <p>
            <span class="ui big blue disabled rating" data-icon="star" data-rating="{{rating}}" data-max-rating="5">
            </span>
        </p>
        {{/if}}



        <a href="/gallery/{{id}}"><i class="ui big open folder outline icon"></i></a>
        <a href="/galleries/deleteGallery/{{id}}">
            <i class="ui big trash icon"></i>
        </a>
    </section>
    {{/each}}
</div>