<section class="ui center aligned middle aligned segment">
    <h2>Photo Gallery Dashboard</h2>
    <p>
        Photo galleries will be displayed here
    </p>
</section>

<section class="dashboard-header">
    <form action="/searchCategory" method="GET" class="ui form">

        <div class="ui inline fields">
            <div class="field">
                <input type="text" name="searchTerm" placeholder="Search by title..." value="{{search}}">
            </div>

            <div class="field">
                <label>Sort by:</label>
                <select class="ui dropdown" name="sort" onchange="this.form.submit()">
                    <option value="title" {{#if titleSelected}}selected{{/if}}>Title</option>
                    <option value="rating" {{#if ratingSelected}}selected{{/if}}>Rating</option>
                </select>
            </div>

            <div class="field">
                <label>Order:</label>
                <select class="ui dropdown" name="order" onchange="this.form.submit()">
                    <option value="asc" {{#if ascSelected}}selected{{/if}}>↑</option>
                    <option value="desc" {{#if descSelected}}selected{{/if}}>↓</option>
                </select>
            </div>
        </div>
    </form>
</section>


<div id="galleries">

    {{#unless search}}
    {{#unless galleries}}
    <h3 class="ui message">
        Start adding your galleries!
    </h3>
    {{/unless}}
    {{/unless}}

    {{#each galleries}}
    <section class="ui center aligned middle aligned segment" id="gallery">

        <h1 class="ui header">
            {{title}}
        </h1>


        <h3>
            <p>Photographer: {{photographer}}</p>
        </h3>

        <p>
            <i class="camera icon"></i>
            {{#if photos}}
            Total Photos:
            {{photos.length}}

            {{else}}
            Empty gallery!
            {{/if}}

            {{#if date}}
            <br>
            <i class="calendar alternate outline icon"></i>
            Created on <i>{{date}}</i>
            {{/if}}
        </p>

        {{#if rating}}
        <p>
            <span class="ui big blue disabled rating" data-icon="star" data-rating="{{rating}}" data-max-rating="5">
            </span>
        </p>
        {{/if}}



        <a href="/gallery/{{id}}"><i class="ui big open folder outline icon"></i></a>
        <a href="/galleries/deleteGallery/{{id}}">
            <i class="ui big trash icon"></i>
        </a>
    </section>
    {{/each}}
</div>