<tr id="photo{{@index}}">
    <td>
        {{title}}
    </td>
    <td>
        <img src="{{image.url}}" alt="{{title}}" class="listPicture" onclick="openPhotoModal('{{image.url}}', '{{title}}')"
            style="cursor: pointer;">
    </td>
    <td>
        <a title="Edit song" class="editSubmit" id="showEdit{{@index}}" data-index="{{@index}}">
            <i class="ui pencil icon"></i>
        </a>

    </td>
    <td>
        <a href="/gallery/{{galleryId}}/deletephoto/{{id}}" title="Delete photo">
            <i class="ui white trash icon"></i>
        </a>
    </td>
</tr>